@import url(style.css);

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    max-width: 500px;
}