@import url(style.css);

.certificacoes {
    background: var(--borda-color);
}

.certificacoes h2 {
    margin-bottom: 5rem;
}

.certificacoes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
}

.certificacoes-container .certificacoes-box {
    flex: 1 1 10rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem; 
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    font-size: 24px;
    transition: .5s ease;
} 

.certificacoes-container .certificacoes-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.certificacoes h3 {
    font-size: 30px;
}

.certificacoes h1 {
    font-size: 14px;
}

.certificacoes-box {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificacoes-box .btn {
    display: block; 
    margin-top: 10px; 
    width: 180px;
    height: 45px; 
    flex-shrink: 0;
    background-color: var(--main-color); 
}

.certificacoes-box .btn:hover {
    background-color: var(--text-color); 
    color: var(--main-color); 
}

