@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #00AD6F;
    --borda-color: #1f1f1f;
    --bg-botao: #000000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header.sticky {
    border-bottom: .1rem solid rgb(0, 0, 0, .2);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
    padding: 2rem 3%;
    }
    .section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
        float: left;
        margin-right: 30px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a::after {
        display: none;
    }

    .navbar a.active {
        display: block;
    }

    .home {
        flex-direction: column;
    }

    .about {
        flex-direction: column-reverse;
    }
    .social-media{
        display: flex;
        align-items: center;
        
    }
}


@media (max-width: 560px) {
    .final {
        display: none;
    }

}

@media (max-width: 400) {
    .footer-social-media a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        height: 1rem;
        background: var(--borda-color);
        font-size: 2rem;
        color: var(--text-color);
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
    }
}
