@import url(style.css);

.footer {
    width: 100%;
    /* background-color: var(--borda-color); */
    background-color: var(--second-bg-color);
}

.footer-conteiner {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contato {
    font-size: 15px;
}

.social-media{
    font-size: 20px;
    color: var(--main-color);
}